<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>jobID</key>
		<string>JN1</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN2</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN3</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN4</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN5</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN6</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN7</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN8</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN9</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN10</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN11</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN12</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN13</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN14</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>jobID</key>
		<string>JN15</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
