<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>description</key>
		<string>All pins are straight aligned</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>description</key>
		<string>No dry solder</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>description</key>
		<string>PCB Cleaned</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>description</key>
		<string>No shorts presents</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>description</key>
		<string>Connector joints cut</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>description</key>
		<string>No Flux present</string>
	</dict>
</array>
</plist>
